### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Create a free PostgreSQL database: https://vercel.com/postgres
# If you're deploying this template with a Vercel Deploy Button, these will be configured automatically for you.
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# AWS config
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET_NAME=

# OPENAI
OPENAI_API_KEY=

# DEEPGRAM
DEEPGRAM_API_KEY=

#STRIPE
STRIPE_WEBHOOK_SECRET=
STRIPE_PRIVATE_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
## Only required for localhost
